
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
}

.card-container{
    width: 100%;
    margin: 0 auto 100px;
    /* background-color: beige; */
}
.card-img{
    object-fit: cover;
}

.card-item{
    padding-bottom: 100px;
}