
.button-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000;
    
    transition: .2s ease-in-out;
}

.button-cart:hover{
    background-color: #000;
    color: #fff;
}
