@charset "utf-8";
/* 공통 모듈 CSS */

body * {
    /* border: 1px dashed gray; */
}

.screen{
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    /* transform: translateX(40%); */
    transition: .5s;
}


/* ~~~~ 상단 영역 ~~~~ */

.header>.container{
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.header__logo__title{
    font-weight: 800;
    font-size: 1.3rem;
}

.navigation__menu{
    display: flex;
    gap: 20px;
}



/* ~~~~ 메인 영역 ~~~~ */
.main__content{
    margin-top: 80px;
    padding-bottom: 80px;
}
.main__content::after{
    content: '';
    display: block;

    margin-top: 50px;
    width: calc(100% + 100px);
    height: 1px;
    background-color: var(--txt-color-black);

    transform: translateX(-50px);
}



/* ~~~~ 하단 영역 ~~~~ */
.footer__fun-box{
    height: 300px;
    background-color: var(--dark-purple);
}
.footer>.container{
}