@charset "utf-8";

/* 메인 CSS */

/* 외부CSS 머징 (합치기) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);


.main__motto{
    font-size: 7rem;
    font-weight: 800;
    text-align: center;
}

.works__content{
    width: 100%;
    height: 100%;
    background-color: black;
}


.test{
    color: #fff;
}

