@charset "utf-8";

html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
}

main{
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

.title{
  position: absolute;
  top: 1%;
  right: 8%;
  font-size: 10vmin;
}

.svgBox{
  position: absolute;
  bottom: 10%;
  left: 5%;
}

/* ------- svg ------- */
.cls-1 {
  fill: #ef3f3f;
}

.cls-1, .cls-2, .cls-3, .cls-4 {
  stroke-width: 0px;
}

.cls-3 {
  fill: #009245;
}

.cls-4 {
  fill: #fff;
}

#tomato{
  width: 60vmin;
  height: 60vmin;
}