@charset "utf-8";

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

canvas{
    border: 1px dashed red;
    width: 100vmin;
    height: 75vmin;
}

.asset-img{
    display: none;
}

main{
    position: relative;
    overflow: hidden;
}

.ready-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-img{
    width: 60vmin;
    margin-bottom: 5vmin;
    opacity: 0;
    transform: scale(2);
}
.play-img{
    width: 11vmin;
    fill: pink;
    cursor: pointer;
    transform: scale(0);
}