@charset "utf-8";

html, body{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #657af1;
    overflow: hidden;
}



/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');
/* font-family: 'Playfair Display', serif; */


.title{
    position: absolute;
    top: 35vh;
    right: 35vh;

    color: #fff;
    font-weight: 700;
    font-size: 90px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
}